@media screen and (min-width: 800px) and (max-width: 1024px)
  .image-stripe
    .hero-text
      h1
        font-size: 55px !important
  .news-simple-image, .news-complex-image
    height: 450px !important
  .full-context-copy
    width: 80% !important
  .hero-text-description
    display: none

@media screen and (min-width: 600px) and (max-width: 800px)
  .image-stripe
    .hero-text
      h1
        font-size: 40px !important
  .news-simple-image, .news-complex-image
    height: 350px !important
  .news-simple-copy, .new-complex-copy
    padding: 10% 10% !important
  .full-context-copy
    width: 80% !important
  .hero-text-description
    display: none

@media screen and (min-width: 350px) and (max-width: 600px)
  .image-stripe
    .hero-text
      h1
        font-size: 24px !important
  .hero-text-description
    display: none
  .news-simple-image, .news-complex-image
    height: 275px !important
  .news-simple-copy
    padding: 10% 10% !important
    font-size: 12px
  .news-complex-copy
    padding: 10% 10% !important
    font-size: 14px
  .full-context-image
    width: 50%
    float: left
    img
      width: 100% !important
  .full-context-copy
    width: 80% !important
  .bottom-nav-logo
    width: 75%
    padding: 0 12.5%
    float: none
    margin: 0 auto
  ul .nav-link, ul .social-media-link
    width: 33%
    border-right: none
  ul .social-media-link
    width: 33%
    border-right: none
  .issue
    h4
      font-size: 12px