.image-stripe
  background: url('/assets/hero_background.jpg')
  background-size: cover
  width: 100%
  display: block
  .hero-image
    float: left
    padding-top: 5%
    margin-left: 20%
  .hero-text
    float: left
    padding-top: 5%
    .headline
      font-size: 72px
      margin: 0
      font-weight: lighter

.description-stripe
  height: 300px
  background: rgba(28, 117, 189, 1)
  color: white
  margin-top: -300px

.hero-text 
  padding-top: 40px
  padding-left: 50px
  width: 300px
  float: left
  p
    margin-top: 0
  button
    background: none
    border: 3px solid white
    color: white
    width: 200px
    padding: 10px 40px
    .link:after
      content: " -->"
    .link
      color: white
      text-decoration: none

.how-it-works
  width: 100%
  background: white
  margin-top: -50px
  padding-top: 125px
  padding-bottom: 125px
  text-align: center
  h3
    padding: 30px 300px
  img
    width: 70%

.simple-easy
  text-align: center
  .simple-easy-heading
    margin-bottom: -100px
    position: relative
    z-index: 1
    color: black
.news
  width: 50%
  float: left
.news-complex-image
  background: rgb(209, 210, 212)
  height: 500px
  position: relative
  img
    position: absolute
    max-width: 50%
    bottom: 0px
    left: 20%
.news-complex-copy
  background: rgba(28, 117, 189, 1)
  color: white
  height: 140px
  padding: 80px
.news-simple-image
  height: 500px
  background: rgba(209, 210, 212, .75)
  position: relative
  img
    position: absolute
    max-width: 50%
    bottom: 0px
    left: 20%
.news-simple-copy
  background: rgba(58, 131, 191, 1)
  color: white
  height: 140px
  padding: 80px

.full-context
  max-height: 600px
.full-context-copy-container
  width: 50%
  float: left
.full-context-copy
  margin: 0 auto
  padding-right: 60px
  width: 50%
  float: right
  padding-left: 80px
  padding-top: 75px
  ul
    list-style-type: none
    padding-top: 50px
    li
      border-top: 1px solid gray
      margin-top: 20px
      margin-bottom: 80px
      padding-top: 30px

.full-context-image
  width: 50%
  float: left
  img
    max-width: 100%

.follow-passions
  padding-top: 100px
  text-align: center
  color: white
  background: rgba(76, 81, 83, 1)
  img
    margin: 60px auto
    margin-bottom: 20px

.issues
  width: 80%
  margin: 0 auto
  img
    width: 100%

.issues-list
  display: inline-block
  text-align: center
  list-style-type: none
  width: 100%

.issue
  float: left
  width: 25%

.start-today
  padding-top: 40px
  text-align: center
  background-image: url(/assets/button-bg.jpg)
  button
    height: 75px
    width: 23.333333333%
    color: white
    background: rgba(28, 117, 189, 1)
    margin: 100px 5% 

.bottom-nav-logo
  float: right
  padding-top: 30px
  padding-right: 30px
  img
    margin-right: 20px
.bottom-nav
  h1
    float: right
.nav-links
  list-style-type: none
  margin-top: 0
  height: 80px
.nav-link, .social-media-link
  float: left
  border-right: 1px solid rgba(0,0,0,0.1)
  text-align: center
  width: 10%
  height: 100%
  padding-top: 45px

.splash-footer
  background: black
  color: white
  height: 40px
  text-align: center
  padding-top: 15px
  p
    margin: 0


.blue
  color: rgba(28, 117, 189, 1)