.image-stripe
  background: url('/assets/hero_background.jpg')
  background-size: cover
  width: 100%
  display: block
  max-height: 700px
.hero-image
  float: left
  padding-top: 5%
  margin-left: 20%
  max-width: 30%
  img
    max-width: 100%
    height: auto
  .hero-text
    padding-top: 6%

.hero-text
  padding-top: 2%
  padding-left: 5%
  max-width: 35%
  float: left
  .headline
    font-size: 72px
    margin: 0
    font-weight: lighter
  p
    margin-top: 0
  *
    margin-bottom: 10px

.description-stripe
  min-height: 200px
  background: rgba(28, 117, 189, 1)
  color: white
  margin-top: -20%


.how-it-works
  width: 100%
  background: white
  margin-top: -50px
  padding-top: 10%
  padding-bottom: 15%
  text-align: center
  h3
    padding: 0 30% 5% 30%
  img
    max-width: 80%
    margin: 0 auto

.issue 
  img
    width: 70%
    height: auto

.simple-easy
  text-align: center
  .simple-easy-heading
    margin-bottom: -100px
    position: relative
    z-index: 1
    color: black
.news
  width: 50%
  float: left
.news-complex-image
  background: rgb(209, 210, 212)
  height: 500px
  position: relative
  img
    position: absolute
    max-width: 50%
    bottom: 0px
    left: 25%
.news-complex-copy
  background: rgba(28, 117, 189, 1)
  color: white
  height: 140px
  padding: 10% 26%
.news-simple-image
  height: 500px
  background: rgba(209, 210, 212, .75)
  position: relative
  img
    position: absolute
    max-width: 50%
    bottom: 0px
    left: 25%
.news-simple-copy
  background: rgba(58, 131, 191, 1)
  color: white
  height: 140px
  padding: 10% 26%

.full-context
  max-height: 600px
.full-context-copy-container
  width: 50%
  float: left
.full-context-copy
  margin: 0 auto
  padding-right: 5%
  width: 50%
  float: right
  padding-left: 5%
  padding-top: 10%
  ul
    list-style-type: none
    padding-top: 50px
    li
      border-top: 1px solid gray
      margin-top: 20px
      margin-bottom: 80px
      padding-top: 30px

.full-context-image
  width: 50%
  float: left
  img
    max-width: 100%

.follow-passions
  padding-top: 100px
  text-align: center
  color: white
  background: rgba(76, 81, 83, 1)

.issue-img
  width: 20%

.issues-list
  display: inline-block
  text-align: center
  list-style-type: none
  max-width: 60%

.issue
  float: left
  width: 25%
  margin-top: 5%

.start-today
  padding-top: 40px
  text-align: center
  background-image: url(/assets/button-bg.jpg)
  button
    display: inline-block
    min-height: 80px
    width: 23.333333333%
    color: white
    background: rgba(28, 117, 189, 1)
    margin: 100px 5% 

.blue
  color: rgba(28, 117, 189, 1)