.mc-form *
  margin-top: 10%


.validate

.form-label
  margin-bottom: 0px
  margin-top: 10px

.form-text-field
  max-width: 260px  
  height: 40px
  background: white
  border: none
  margin-top: 10px

.form-submit
  margin-top: 0px

.button
  background: none
  border: 3px solid white
  color: white
  width: 160px
  margin-top: 0px
  padding: 10px 40px
  float: none
  .button:after
    content: " -->"